body {
  margin              : 0;
}

ul.items {
  margin              : 0;
  padding             : 0;
  list-style          : none;
}

ul.items > li {
  float               : left;
  margin              : 5px;
  background          : #FFF;
}

ul.items > li.media {
  background-color    : #CCF;
}

ul.items > li.avatar {
  background-color    : #EEE;
}

ul.items > li.badge,
ul.items > li.proclivity {
  background-color    : #CCC;
}

ul.items > li.about,
ul.items > li.factoid,
ul.items > li.filler {
  background-color    : #AAA;
}

ul.items > li.icon,
ul.items > li.followers {
  background-color    : #888;
}

ul.items > li.library {
  background-color    : #666;
}

ul.items > li > span {
  color               : #000;
  font-family         : Arial;
  font-style          : italic;
  font-size           : 11px;
  text-align          : center;
  display             : block;
}

.container {
  margin              : 40px auto;
}


/* 480px column */
.container.w480 {
  width               : 480px;
}

.container.w480 li.x-full {
  width               : 470px;
}

.container.w480 li.x-twoThird {
  width               : 310px;
}

.container.w480 li.x-oneThird {
  width               : 150px;
}

.container.w480 li.x-oneSixth {
  width               : 70px;
}

.container.w480 li.y-full {
  height              : 470px;
}

.container.w480 li.y-twoThird {
  height              : 310px;
}

.container.w480 li.y-oneThird {
  height              : 150px;
}

.container.w480 li.y-oneSixth {
  height              : 70px;
}

.container.w480 li.y-threeFourth {
  height              : 350px;
}

.container.w480 li.y-oneHalf {
  height              : 230px;
}

.container.w480 li.y-oneFourth {
  height              : 110px;
}

.container.w480 li.y-full > span {
  margin-top          : 230px;
}

.container.w480 li.y-twoThird > span {
  margin-top          : 150px;
}

.container.w480 li.y-oneThird > span {
  margin-top          : 70px;
}

.container.w480 li.y-oneSixth > span {
  margin-top          : 30px;
}

.container.w480 li.y-threeFourth > span {
  margin-top          : 170px;
}

.container.w480 li.y-oneHalf > span {
  margin-top          : 110px;
}

.container.w480 li.y-oneFourth > span {
  margin-top          : 50px;
}

/* 960px column */
.container.w960 {
  width               : 960px;
}

.container.w960 li.x-full {
  width               : 940px;
}

.container.w960 li.x-twoThird {
  width               : 620px;
}

.container.w960 li.x-oneThird {
  width               : 300px;
}

.container.w960 li.x-oneSixth {
  width               : 140px;
}

.container.w960 li.y-full {
  height              : 940px;
}

.container.w960 li.y-twoThird {
  height              : 620px;
}

.container.w960 li.y-oneThird {
  height              : 300px;
}

.container.w960 li.y-oneSixth {
  height              : 140px;
}

.container.w960 li.y-threeFourth {
  height              : 700px;
}

.container.w960 li.y-oneHalf {
  height              : 460px;
}

.container.w960 li.y-oneFourth {
  height              : 220px;
}

.container.w960 li.y-full > span {
  margin-top          : 460px;
}

.container.w960 li.y-twoThird > span {
  margin-top          : 300px;
}

.container.w960 li.y-oneThird > span {
  margin-top          : 140px;
}

.container.w960 li.y-oneSixth > span {
  margin-top          : 60px;
}

.container.w960 li.y-threeFourth > span {
  margin-top          : 340px;
}

.container.w960 li.y-oneHalf > span {
  margin-top          : 220px;
}

.container.w960 li.y-oneFourth > span {
  margin-top          : 100px;
}
